%section#top-header.row
  %h1.col-md-2
    = link_to "TL-FLiX", root_path
  - if current_user
    %ul.col-md-8.clearfix
      %li= link_to "Videos", home_path, class: 'btn btn-xs btn-danger'
      %li= link_to "Queue", queue_path, class: 'btn btn-xs btn-danger'
      %li= link_to "People", people_path, class: 'btn btn-xs btn-danger'
      = bootstrap_form_tag url: search_videos_path, method: 'get' do
        = text_field_tag :search_term
        .controls
          %input(type="submit" value="Search" class="btn btn-xs btn-default")
    #user_links.pull-right
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          Welcome, #{current_user.full_name}
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a(href="#") Invite a Friend
            %a(href="#") Account
            %a(href="#") Plan and Billing
            .divider
            = link_to 'Sign Out', sign_out_path